.Start-Page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Search {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 100px;
    text-align: center;
}